# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\PROGRAMAÇÃO\GitHub\Ucsal\Materia - POO Avançado - 3 semestre\aulas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
